body {
  background-color: #1d2538;
  width: 300px;
}
h1,
p,
button,
span {
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  color: white;
  font-variant: small-caps;
}
p {
  font-size: 16px;
}
.response {
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  font-variant: normal;
}
h1 {
  transform: rotate(-5deg);
  text-shadow: 2px 2px 2px whitesmoke;
  margin-top: 20px;
  margin-bottom: 20px;
}
button {
  border-radius: 5px;
  border: none;
  background-color: black;
  color: #efff00;
  height: 35px;
  font-size: 16px;
  display: inline-block;
  margin: 0 30%;
  box-shadow: 2px 2px 2px 2px;
  transform: scale(1.2, 1.2);
}
button:hover {
  background-color: #efff00;
  color: black;
  transform: rotate(10deg);
}
button:focus {
  outline: none;
  border: none;
}
span {
  font-size: 24px;
  font-family: 'Lucida Console', Monaco, monospace;
  display: inline-block;
  width: 100%;
  margin-top: 10%;
}
